<ng-container *ngIf="textLoaded; then domande; else loading"></ng-container>
<ng-template #domande>
  <div class="father mt-5">
    <div class="bubble bubble7"></div>
      <div class="bubble bubble1"></div>
      <div class="bubble bubble2"></div>
      <div class="bubble bubble3"></div>
      <div class="bubble bubble4"></div>
      <div class="bubble bubble5"></div>
      <div class="bubble bubble6"></div>
      <div class="bubble bubble8"></div>
      <div class="bubble bubble9"></div>
      <div class="bubble bubble10"></div>
      <div class="bubble bubble11"></div>
      <div class="bubble bubble12"></div>
      <div class="bubble bubble13"></div>
      <div class="bubble bubble14"></div>
      <div class="bubble bubble15"></div>
    <div class="timer text-center">
      <svg class="countdown-circle" width="145" height="145" viewBox="0 0 145 145">
        <circle class="circle-shadow d-none d-sm-block" cx="70" cy="70" r="64"></circle>
        <circle class="circle-bg d-none d-sm-block" cx="70" cy="70" r="64"></circle>
        <circle class="circle-progress d-none d-sm-block" cx="70" cy="70" r="64"></circle>
        <text x="70" y="45" class="circle-text d-none d-sm-block" text-anchor="middle"
          dominant-baseline="middle">SECONDS</text>
        <text x="70" y="70" class="circle-text fs-1 fw-bold" text-anchor="middle" dominant-baseline="middle">{{
          remainingTime }}</text>
        <text x="70" y="95" class="circle-text d-none d-sm-block" text-anchor="middle"
          dominant-baseline="middle">REMAINING</text>
      </svg>
    </div>

    <img src="../../../assets/animation/Animation -2.gif" class="shark d-none d-sm-block" alt="Your GIF">

    <div class="card text-center bg-info rounded">
      <div class="card-body mb-2">
        <h5 class="card-title mb-3">Question {{ currentQuestionIndex + 1 }}</h5>
        <div class="p-3 border-danger border-top mb-0">
          <p class="mb-0">{{ questions[currentQuestionIndex].text }}</p>
        </div>
        <div class="answer-options border-top border-danger pt-3">
          <div *ngFor="let answer of questions[currentQuestionIndex].answers; let i = index">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn-purple btn-outline-purple rounded-pill py-2 px-3 m-2 fw-semibold"
                [class.active]="selectedAnswerIndex === i"
                [class.correct-answer]="isCurrentAnswerCorrect === true  && selectedAnswerIndex === i"
                [class.wrong-answer]="isCurrentAnswerNotCorrect === true && selectedAnswerIndex === i"
                [ngClass]="{'correct-answer': i === correctAnswerIndex}">
                <input class="text-danger" type="radio" name="answerOption" style="display: none" [value]="i"
                  [(ngModel)]="selectedAnswerIndex" (change)="selectedQuestion(i)" />
                {{ answer.text }}
              </label>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #loading>
  <div class="father mt-5">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
