html {
  box-sizing: border-box;
}

.father {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(
    180deg,
    #32ffe0 7%,
    #2951f4 35%,
    #020e44 100%
  );
  overflow: hidden;
}

.card {
  width: 40%;
  min-width: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  box-shadow: 1px 1px 16px black;
}

.btn-purple {
  background-color: rgb(172, 95, 172);
  border: #020e44;
  transition: all 0.3s;

  &:hover{
    cursor: pointer;
    transform: scale(1.1); /* Scale the button by 10% on hover */
}
}

.timer{
  position:absolute;
  top:70px;
  right: 60px;
}

.countdown-circle {
  margin: 0 auto;
  display: block;
}

.circle-bg {
  fill: none;
  stroke: #2aad40;
  stroke-width: 10;
}

.circle-progress {
  fill: none;
  stroke:  #ea3333;
  stroke-width: 8;
  stroke-dasharray: 402; /* Circonferenza (2 * π * r) */
  stroke-dashoffset: 402; /* valore iniziale del cerchio completo */
  transition: stroke-dashoffset 1s ease-out;
  filter: drop-shadow(1px 1px 1px #ea3333) drop-shadow(-1px -1px 1px #ea3333);
  transform-origin: 70px 70px;
  transform: rotate(-90deg);
}

.circle-shadow {
  fill: none;
  stroke: black;
  stroke-opacity: 100%;
  stroke-width: 10;
  filter: blur(2px);
  }


.circle-text {
  font-size: 1rem; /* Font size for text elements */
  fill: #333; /* Text color */
}

.correct-answer {
  background-color: green !important;
  color: white !important;
}

.wrong-answer{
  background-color: rgb(255, 15, 15) !important;
  color: white !important;
}

.shark{
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translate(-50%, -10%);
  width: 20%;
  max-width: 186px;
}

 .bubble {
    background: radial-gradient(circle, #3498db, #add8e6, #fff, transparent);
    border-radius: 50%;
    position: absolute;
    animation: float 5s infinite ease-in-out;
    opacity: 0;
}

.bubble1 {
    width: 20px;
    height: 20px;
    left: 20%;
    animation-duration: 4s;
}

.bubble14 {
  width: 25px;
  height: 25px;
  left: 22%;
  animation-duration: 7s;
  animation-delay: 3s;
}

.bubble2 {
    width: 20px;
    height: 20px;
    left: 40%;
    animation-duration: 7s;
}

.bubble15 {
  width: 15px;
  height: 15px;
  left: 40%;
  animation-duration: 7s;
  animation-delay: 3s;
}

.bubble3 {
    width: 15px;
    height: 15px;
    left: 60%;
    animation-duration: 6s;
}

.bubble4 {
    width: 25px;
    height: 25px;
    left: 80%;
    animation-duration: 8s;
    animation-delay: 2s;
}

.bubble5 {
  width: 30px;
  height: 30px;
  left: 85%;
  animation-duration: 10s;
  animation-delay: 2s;
}

.bubble6 {
  width: 28px;
  height: 28px;
  left: 65%;
  animation-duration: 10s;
}

.bubble7 {
  width: 32px;
  height: 32px;
  left: 48%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.bubble8 {
  width: 35px;
  height: 35px;
  left: 95%;
  animation-duration: 9s;
}

.bubble9 {
  width: 22px;
  height: 22px;
  left: 35%;
  animation-duration: 7s;
  animation-delay: 2s;
}

.bubble13 {
  width: 22px;
  height: 22px;
  left: 35%;
  animation-duration: 7s;
  animation-delay: 5s;
}

.bubble10 {
  width: 27px;
  height: 27px;
  left: 25%;
  animation-duration: 6s;
}

.bubble11 {
  width: 12px;
  height: 12px;
  left: 3%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.bubble12 {
  width: 20px;
  height: 20px;
  left: 10%;
  animation-duration: 8s;
  animation-delay: 5s;
}
@keyframes float {
    0% {
        transform: translateY(85vh);
        opacity: 0;
    }

    25%{
      opacity: 0.5;
    }

    50%{
      opacity: 0.5;
    }
    100% {
        transform: translateY(-70px);
        opacity: 0;
    }
}
