<div class="father mt-5">
  <div class="card text-center bg-info rounded" style="width: 18rem;">
    <div class="card-body mb-2">
      <h5 class="card-title mb-3">Question {{ currentQuestionIndex + 1 }}</h5>
      <div class="p-3 border-danger border-top mb-0">
        <p class="mb-0">{{ questions[currentQuestionIndex].text }}</p>
      </div>
      <div class="answer-options border-top border-danger pt-3">
        <div *ngFor="let answer of questions[currentQuestionIndex].answers; let i = index">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn-purple btn-outline-purple rounded-pill py-2 px-3 m-2 fw-semibold" [class.active]="selectedAnswerIndex === i">
              <input class="text-danger" type="radio" name="answerOption" style="display: none" [value]="i" [(ngModel)]="selectedAnswerIndex"
                (change)="selectedQuestion(i)" />
              {{ answer.text }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
