<div class="father mt-5">
  <div class="container mt-5">
    <div class="question-container mt-5">
      <!-- Display the current question text -->
      <h2 class="mt-5">Question {{ currentQuestionIndex + 1 }}</h2>
      <p>{{ questions[currentQuestionIndex].text }}</p>
      <p>Selected Answer Index: {{ selectedAnswerIndex }}</p>

      <!-- Display answer choices -->
      <div class="answer-options">
        <div *ngFor="let answer of questions[currentQuestionIndex].answers; let i = index">
          <label class="m-2 fw-semibold">
            <input type="radio" name="answerOption" [value]="i" [(ngModel)]="selectedAnswerIndex"
              (change)="selectedQuestion(i)" />
            {{ answer.text }}
          </label>
        </div>


      </div>

      <div class="navigation-buttons">
        <button (click)="nextQuestion()">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
