html {
  box-sizing: border-box;
}

.father {
  width: 100%;
  height: 100vh;
  background-image: url('../../../assets/img/pexels-pixabay-62307.jpg');
  background-size:cover;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="radio"] {
  cursor: pointer;
  /* per cancellare stile di sistema checkbox */
  appearance: none;
  background-color: #ffffff;
  border: 2px solid #0032fc;
  width: 17px;
  height: 17px;
  border-radius: 50%;
}

/* Stile del segno di spunta */
input[type="radio"]::before {
  content: "\2714";
  display: block;
  color: #fff;
  text-align: center;
  font-size: 8px;
  visibility: hidden;
}


/* Stile del segno di spunta quando la checkbox è selezionata */
input[type="radio"]:checked::before {
  visibility: visible;
}


.centro {
  margin-left: 93px;
}
