html {
  box-sizing: border-box;
}

.father {
  width: 100%;
  height: 100vh;
  background-image: url('../../../assets/img/pexels-pixabay-62307.webp');
  background-size:cover;
}
.card {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(195, 181, 124, 0.9);
  border: 2px solid black;
  box-shadow: 20px 20px 16px black;
  max-width: 300px;
  min-width: 200px;
}

input[type="radio"] {
  display: none;
}

.level-selection label input:checked + span {
  background-color: #00ff37;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.level-selection label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #0202ff;
}

span {
  display: flex;
  align-items: center;
  padding: 4px 15px 3px 2px;
  border-radius: 99em;
  transition: 0.25s ease;
}

span:hover {
  background-color: #d6d6e5;
}

span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}


.centro {
  margin-left: 30%;
}

.btn{
  background-color: #01ec34;
}

.btn:hover{
  border: 2px solid black;
}
