<div class="father">
  <div class="container text-center">
    <form #form="ngForm" (ngSubmit)="registra(form)">
      <div class="form-group  mb-4">
        <label for="username" class=" mb-2 text-white fw-semibold">Nome</label>
        <input name="username" required ngModel class="form-control w-50 m-auto" id="username" type="text"
          placeholder="Inserisci il username">
      </div>
      <div class="form-group  mb-4">
        <label for="email" class=" mb-2 text-white fw-semibold">Email</label>
        <input type="email" name="email" id="email" class="form-control w-50 m-auto" placeholder="pippo@email.com"
          required ngModel>
      </div>
      <div class="form-group  mb-3">
        <label for="password" class=" mb-2 text-white fw-semibold">Password</label>
        <input type="password" id="password" name="password" class="form-control w-50 m-auto"
          placeholder="Password minimo 4 caratteri" minlength="4" ngModel>
      </div>
      <button type="submit" [disabled]="form.invalid" [ngClass]="{'btn-danger': form.invalid}"
        class="btn btn-success border border-3">Registrati</button>
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"></span>
    </form>
  </div>
</div>
