.card{
  width: 70%;
  border: 2px solid black;
  box-shadow: 1px 1px 16px black;
  background-color: #c3b57c;
  max-height: 55vh;
  overflow-y: auto;
  min-height: 230px;
}

hr {
  border: 1px solid #000000;
}

.logo{
  width: 50%;
  max-width: 386px;
  margin: 0;
}

.delete{
  width: 20%;
  min-width: 20px;
}

.bottone {
  width: 20%;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.buttone:focus {
  outline: none;
}

.delete-message {
  font-weight: bold;
  color: #003ef9;
  text-decoration: underline;
}

.isDeleting .delete-message {
  display: block;
}
