<div class="father">
  <div>
    <img src="../../../assets/img/transparent-happy-family-day-family-day-5f4d40ac41d778.3040192015988983482697.png" class="img1">
  </div>
<div class="container">
    <div class="mt-5 text-center p-5">
      <h1 class="fw-bold text-DARK">Welcome to <span class="text-danger fw-bold">SharkTest</span></h1>
      <h2 class="text-dark fw-semibold">Test your knowledge about Sharks</h2>
      <p class="text-dark fw-semibold">Subscribe to get started or log-in!</p>
    </div>
    <div class="text-center mb-5">
      <a [routerLink]="['auth/login']" routerLinkActive="active" class="btn btn-danger rounded-pill me-4 text-dark">Log-In</a>
      <a [routerLink]="['auth/register']" routerLinkActive="active" class="btn btn-danger rounded-pill text-dark">Subscribe</a>
    </div>
  </div>
</div>
